[Unit]
Description=Coredns (convert DNS to TCP) on 8805/8806
After=network-online.target pppoe.service systemd-networkd.service
Wants=dnsdispatch.service dnsproxy.service

[Install]
WantedBy=router.target

[Service]
Type=simple
ExecStart="${DistBinaryDir}/core/coredns" -conf "${AppDataDir}/dns/convert/Corefile"

RestartSec=5s
Restart=on-failure

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes

Slice=router.slice
