[Unit]
Description=clash proxy server for dns
After=network-online.target pppoe.service systemd-resolved.service clash-subscription-processor.service

[Install]
WantedBy=router.target

[Service]
Type=exec
ExecStart="${DistBinaryDir}/clash/bin/clash" -d "${LocalConfigDir}/clash" -ext-ui "${DistBinaryDir}/clash/yacd/public"

RestartSec=5s
Restart=on-failure

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes

BindReadOnlyPaths=${LocalConfigDir}/clash/resolv.conf:/etc/resolv.conf
ReadWritePaths="${LocalConfigDir}/clash"

Slice=router.slice

CapabilityBoundingSet=CAP_NET_ADMIN+EP
