[Unit]
Description=auto check and renew ssl certs every day
StartLimitBurst=5
StartLimitIntervalSec=1hour

[Service]
Type=oneshot
RemainAfterExit=no
Environment=NO_TIMESTAMP=1
ExecStart=/usr/bin/bash "${__dirname}/execute.sh"
RestartPreventExitStatus=66
Restart=on-failure

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=read-only

ReadWritePaths=${APP_DATA_DIR}/ACME
WorkingDirectory=${APP_DATA_DIR}/ACME

CPUWeight=idle
