[Unit]
Description=auto check and renew ssl certs every day
StartLimitBurst=5
StartLimitIntervalSec=1hour

[Service]
Type=oneshot
RemainAfterExit=no
Environment=NO_TIMESTAMP=1 "ROOT_DIR=${ROOT_DIR}"
ExecStart=/usr/bin/bash "${__dirname}/execute.sh"
RestartPreventExitStatus=66
Restart=on-failure

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=read-only

ReadWritePaths=${AppDataDir}/ACME
WorkingDirectory=${AppDataDir}/ACME

Slice=router.slice
CPUWeight=idle
