[Unit]
Description=DNS server for guest network
After=dnsdispatch.service systemd-networkd.service systemd-resolved.service 
Wants=nss-lookup.target

[Install]
WantedBy=router.target

[Service]
ExecStart=/usr/sbin/dnsmasq -k --conf-dir=/etc/dnsmasq.d,*.conf --hostsdir $STATE_DIRECTORY
Type=exec

RestartSec=5s
Restart=on-failure

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes
StateDirectory=wireguard

InaccessiblePaths=-/data
InaccessiblePaths=-/etc/dnsmasq.conf
BindPaths=${PWD}/config:/etc/dnsmasq.d
BindPaths=${AppDataDir}/dns/wireguard:/etc/dnsmasq.d/dynamic

Slice=router.slice
