[Unit]
Description=DNS server for guest network
After=dnsdispatch.service systemd-networkd.service systemd-resolved.service 
Wants=nss-lookup.target

[Install]
WantedBy=router.target

[Service]
ExecStartPre=/usr/bin/mkdir -p "${STATE_DIRECTORY}/hosts"
ExecStart=/usr/sbin/dnsmasq -k \
	"--conf-dir=${ROUTER_DATA_PATH}/dns/wireguard,*.conf" \
	"--addn-hosts=${ROUTER_DATA_PATH}/dns/wireguard/hosts" \
	"--conf-file=${__dirname}/config.conf" \
	"--conf-script='${PYTHON3}' '${__dirname}/create-tlds-config.py'" \
	"--hostsdir=${STATE_DIRECTORY}/hosts"
Type=exec

RestartSec=5s
Restart=on-failure

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes
StateDirectory=wireguard

InaccessiblePaths=-/etc/dnsmasq.conf
