[Unit]
Description=DNS server for guest network
After=dnsdispatch.service systemd-networkd.service
Wants=nss-lookup.target
Requires=systemd-resolved.service 
Conflicts=dnsmasq.service

[Install]
WantedBy=router.target

[Service]
ExecStart=/usr/sbin/dnsmasq -k --conf-dir=/etc/dnsmasq.d,*.conf
Type=simple

RestartSec=5s
Restart=on-failure

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes

InaccessiblePaths=/data /etc/dnsmasq.conf
BindPaths=${PWD}/config:/etc/dnsmasq.d

Slice=router.slice
