[Unit]
Description=DNS dispathing server on 5300
Requires=systemd-resolved.service dnsconvert.service
After=systemd-resolved.service dnsconvert.service
Conflicts=dnsmasq.service

[Install]
WantedBy=router.target

[Service]
ExecStartPre=/usr/bin/bash "${__dirname}/tlds-map.sh"
ExecStart=/usr/sbin/dnsmasq --keep-in-foreground \
	"--conf-dir=${STATE_DIRECTORY},*.conf" \
	"--conf-dir=${LocalConfigDir}/dnsdispatch,*.conf" \
	"--conf-dir=${AppDataDir}/dns/dispatch,*.conf" \
	"--hostsdir=${AppDataDir}/dns/dispatch/hosts"
Type=simple

RestartSec=5s
Restart=on-failure

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes

StateDirectory=dnsdispatch
InaccessiblePaths=/etc/dnsmasq.conf /etc/dnsmasq.d

Slice=router.slice
