[Unit]
Description=DHCP server
Requires=systemd-networkd.service
After=systemd-networkd.service

[Install]
WantedBy=router.target

[Service]
ExecStartPre=/usr/sbin/ip addr
ExecStart=/usr/sbin/dnsmasq -k --conf-file=${__dirname}/files/dnsmasq.conf --conf-dir=${APP_DATA_DIR}/dhcp,*.conf
Type=exec

RestartSec=5s
Restart=on-failure

ProtectSystem=strict
PrivateDevices=no
ProtectKernelTunables=no
ProtectControlGroups=yes
ProtectHome=yes

StateDirectory=dhcp
