[Unit]
Description=proxy server for DNS only (on port 5342-5347)
After=network-online.target pppoe.service systemd-resolved.service clash-subscription-processor.service

[Install]
WantedBy=router.target

[Service]
Type=exec
ExecStart="${DIST_ROOT}/clash/bin/clash" -d "${__dirname}/clash" -ext-ui "${DIST_ROOT}/clash/yacd/public"

RestartSec=5s
Restart=on-failure

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes

BindReadOnlyPaths=${__dirname}/clash/resolv.conf:/etc/resolv.conf
ReadWritePaths="${__dirname}/clash"

CapabilityBoundingSet=CAP_NET_ADMIN+EP
