[Unit]
After=systemd-networkd.service

[Service]
Environment=IF_NAME=%i
ExecStartPost=${PYTHON3} "${__dirname}/create-dnsmasq-config.py" %i
StateDirectory=wireguard
