[Unit]
Description=PPPoE
Wants=systemd-networkd.service firewalld.service
After=systemd-networkd.service

[Install]
WantedBy=router.target

[Service]
Type=forking
GuessMainPID=yes
ExecStartPre=-/usr/bin/mkdir -p ${ROUTER_DATA_PATH}/pppoe
ExecStart=${__dirname}/pppoe.sh
TimeoutStartSec=10s
KillSignal=SIGHUP

RestartSec=30s
Restart=on-failure
RestartPreventExitStatus=233

ProtectSystem=full
DeviceAllow=/dev/ppp
DevicePolicy=closed
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes

StateDirectory=pppoe

BindReadOnlyPaths=${__dirname}/helpers:/run/config/lower
BindPaths=${ROUTER_DATA_PATH}/pppoe:/run/config/upper
TemporaryFileSystem=/etc/ppp
