[Unit]
Description=update subscription file for proxy server
After=network-online.target pppoe.service systemd-resolved.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash "${__dirname}/update-subscription.sh"

Environment="INPUT_FILE=${AppDataDir}/proxy/subscription.txt"
WorkingDirectory=/var/lib/proxy

RestartSec=10s
Restart=on-failure
RestartPreventExitStatus=66

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes
PrivateTmp=yes

User=proxy
StateDirectory=proxy

BindReadOnlyPaths=${__dirname}/resolv.conf:/etc/resolv.conf

Slice=router.slice
