[Unit]
Description=update subscription file for proxy server
After=network-online.target pppoe.service systemd-resolved.service

[Service]
Type=oneshot
ExecStartPre=+/usr/bin/chown proxy:proxy /var/lib/proxy -R
ExecStart=/usr/bin/bash "${__dirname}/update-subscription.sh"

Environment="INPUT_FILE=${AppDataDir}/proxy/subscription.txt"
WorkingDirectory=/var/lib/proxy

Restart=no
TimeoutStartSec=10min

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes
PrivateTmp=yes

User=proxy
StateDirectory=proxy

BindReadOnlyPaths=${__dirname}/resolv.conf:/etc/resolv.conf

Slice=router.slice
