[Unit]
Description=NAT loopback rule generator (trigger by pppoe and path-watch)
PartOf=pppoe.service
# After=systemd-networkd.service
StartLimitIntervalSec=5s
StartLimitBurst=10

[Service]
Type=oneshot
RemainAfterExit=no
GuessMainPID=yes
ExecStart=/bin/bash ${PWD}/loopback.sh
TimeoutStartSec=10s

RestartSec=1s
Restart=on-failure

Slice=router.slice
