[Unit]
Description=v2ray proxy server
After=network-online.target pppoe.service systemd-resolved.service v2ray-subscription-update.service
Requires=v2ray-subscription-update.service

[Install]
WantedBy=router.target

[Service]
Type=exec
Environment="AppDataDir=${AppDataDir}" "ROOT_DIR=${ROOT_DIR}"
ExecStart=/usr/bin/bash "${__dirname}/config/create-config-and-start.sh"
WorkingDirectory=/var/lib/v2ray
RestartPreventExitStatus=66

RestartSec=10s
Restart=always

User=v2ray
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes
PrivateTmp=yes

LogsDirectory=v2ray
StateDirectory=v2ray

Slice=router.slice
