[Unit]
Description=this service restarts on interface "%I" IP address changes
ConditionPathExists=|${ROUTER_DATA_PATH}/ipchange/%I.sh
ConditionPathExists=|${__dirname}/scripts/on-%I-change.sh

[Service]
Type=oneshot
RemainAfterExit=no
Restart=no
ExecStart=/usr/bin/bash '${__dirname}/scripts/try-call.sh' "%I"

StateDirectory=ipchange
