[Unit]
Description=this service restarts on any IP address changes

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
ExecStart=/usr/bin/bash "${__dirname}/scripts/on-default-change.sh"

Slice=router.slice
