[Unit]
Description=convert DNS to TCP on 5305(oversea) and 5306(china)
After=network-online.target pppoe.service systemd-networkd.service
Wants=dnsdispatch.service dnsproxy.service

[Install]
WantedBy=router.target

[Service]
Type=exec
ExecStart="${DIST_ROOT}/core/coredns" -conf "${__dirname}/Corefile"

RestartSec=5s
Restart=on-failure

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes
