[Unit]
Description=auto check and renew ssl certs every day

[Service]
Type=oneshot
RemainAfterExit=no
Environment=NO_TIMESTAMP=1
ExecStart=/root/.acme.sh/acme.sh --home "/root/.acme.sh" --upgrade
ExecStart=/root/.acme.sh/acme.sh --cron --debug --home "/root/.acme.sh" --config-home "/data/AppData/router/ACME/"

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=read-only

ReadWritePaths=/root/.acme.sh
ReadWritePaths=/data/AppData/router/ACME
