[Unit]
Description=clash proxy server
After=network-online.target pppoe.service dnscache.service
# Requires=dnscache.service dnsproxy.service

[Install]
WantedBy=router.target

[Service]
Type=simple
ExecStart=/usr/local/bin/clash -d /etc/clash -ext-ui /etc/clash/clash-ui

RestartSec=5s
Restart=on-failure

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes

BindReadOnlyPaths=/data/AppData/router/pppoe/runtime/resolv.conf:/etc/resolv.conf
BindPaths=/data/AppData/router/clash:/etc/clash
BindPaths=/data/DevelopmentRoot/github.com/gongt/router.target/dist:/usr/local/bin
