[Unit]
Description=clash proxy server
After=network-online.target pppoe.service dnscache.service clash-subscription-processor.service

[Install]
WantedBy=router.target

[Service]
Type=simple
ExecStart=/usr/local/bin/clash -d /etc/clash -ext-ui /etc/clash/yacd

RestartSec=5s
Restart=on-failure

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes

BindReadOnlyPaths=${AppDataDir}/pppoe/runtime/resolv.conf:/etc/resolv.conf
BindPaths=${AppDataDir}/clash:/etc/clash
BindReadOnlyPaths=${DistBinaryDir}/clash/yacd/public/:/etc/clash/yacd
BindReadOnlyPaths=${DistBinaryDir}/clash/bin:/usr/local/bin

Slice=router.slice
CPUWeight=90
