[Unit]
Description=check ip change, and run ddns

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/bash "${LocalConfigDir}/ddns/run.sh"
StateDirectory=ddns
Environment=AppDataDir=${AppDataDir}
