##### ROUTER GENERATED
## source=/data/DevelopmentRoot/github.com/gongt/router.target/assets/dev-shm-sockets.mount

[Unit]
Before=router.target services.target 

[Mount]
What=tmpfs
Type=tmpfs

[Install]
WantedBy=local-fs.target

