[Unit]
Description=DHCP server
Requires=systemd-networkd.service
After=systemd-networkd.service

[Install]
WantedBy=router.target

[Service]
ExecStartPre=/usr/sbin/ip addr
ExecStart=/usr/sbin/dnsmasq -k --conf-dir=/etc/dnsmasq.d,*.conf
Type=simple

RestartSec=5s
Restart=on-failure

ProtectSystem=strict
PrivateDevices=no
ProtectKernelTunables=no
ProtectControlGroups=yes
ProtectHome=yes

InaccessiblePaths=/data /etc/dnsmasq.conf
BindPaths=${AppDataDir}/dhcp/config:/etc/dnsmasq.d
BindPaths=${AppDataDir}/dhcp/leases:/run/leases

Slice=router.slice
