[Unit]
Description=DNS caching server on 53
After=dnsdispatch.service systemd-networkd.service
Wants=nss-lookup.target
Requires=dnsdispatch.service
Conflicts=dnsmasq.service

[Install]
WantedBy=router.target

[Service]
ExecStart=/usr/sbin/dnsmasq -k --conf-dir=/etc/dnsmasq.d,*.conf
Type=simple

RestartSec=5s
Restart=on-failure

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes

InaccessiblePaths=/data /etc/dnsmasq.conf
BindPaths=${AppDataDir}/dns/cache:/etc/dnsmasq.d
BindPaths=/etc/hosts:/run/hosts/system
BindPaths=${AppDataDir}/dhcp/leases:/run/leases
