[Unit]
Description=clash proxy server for dns
After=network-online.target pppoe.service dnscache.service

[Install]
WantedBy=router.target

[Service]
Type=simple
ExecStartPre=/usr/bin/cat /etc/resolv.conf
ExecStart=/usr/local/bin/clash -d /etc/clash -ext-ui /etc/clash/yacd

RestartSec=5s
Restart=on-failure

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes

BindReadOnlyPaths=${LocalConfigDir}/clash/resolv.conf:/etc/resolv.conf
BindPaths=${LocalConfigDir}/clash:/etc/clash
BindReadOnlyPaths=${DistBinaryDir}/clash/yacd/public/:/etc/clash/yacd
BindReadOnlyPaths=${DistBinaryDir}/clash/bin:/usr/local/bin
