[Unit]
Description=PPPoE
Wants=systemd-networkd.service
# After=systemd-networkd.service

[Install]
WantedBy=router.target

[Service]
Type=forking
GuessMainPID=yes
ExecStartPre=-/usr/sbin/ip link del router-pppoe
# TODO: dynamic create files
ExecStartPre=-/usr/bin/mkdir -p ${AppDataDir}/pppoe/runtime ${AppDataDir}/pppoe/config
ExecStart=${LocalConfigDir}/pppoe/pppoe.sh
TimeoutStartSec=10s
KillSignal=SIGHUP

RestartSec=30s
Restart=on-failure

ProtectSystem=full
DeviceAllow=/dev/ppp
DevicePolicy=closed
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes

BindPaths=${AppDataDir}/pppoe/runtime:/run/ppp

BindReadOnlyPaths=/etc/ppp:/run/config/lower
BindReadOnlyPaths=${AppDataDir}/pppoe/config:/run/config/upper
TemporaryFileSystem=/etc/ppp
