[Unit]
Description=OpenWRT router and related service
After=local-fs.target
Requires=multi-user.target
Conflicts=rescue.service rescue.target shutdown.target
DefaultDependencies=no
AllowIsolate=no

