[Unit]
Description=Wireguard configuration distribution (server)
After=pppoe.service dev-shm-sockets.mount nginx.pod.service nginx.service

[Service]
Type=notify
NotifyAccess=all

ProtectSystem=strict
DeviceAllow=/dev/shm
DevicePolicy=closed
PrivateTmp=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes

InaccessiblePaths=/data
TemporaryFileSystem=/run/application
BindPaths=/data/AppData/router/wireguard/server:/run/application

# StateDirectory=wireguard-config-server

ExecStartPre=-/usr/bin/unlink /dev/shm/container-shared-socksets/grpc.wireguard.sock
Environment=WIREGUARD_UNIX=/dev/shm/container-shared-socksets/grpc.wireguard.sock
Environment=WIREGUARD_TLS_INSECURE=true

# Environment=WIREGUARD_PORT=55655

Environment=WIREGUARD_STORAGE=/run/application
# ExecStartPre=+/usr/bin/mkdir -p /data/AppData/data/wireguard-config-server

Environment=WIREGUARD_CONFIG_DEVELOPMENT=true

ExecStartPre=/usr/bin/env
ExecStart=/usr/local/libexec/wireguard-config/server
# ExecStart=/data/DevelopmentRoot/github.com/gongt/wireguard-config-distribute/dist/server

RestartSec=5s
Restart=on-failure

EnvironmentFile=/data/AppData/router/wireguard/server/environment.conf

[Install]
WantedBy=multi-user.target
