[Unit]
Description=sing-box proxy server
Documentation=https://github.com/SagerNet/sing-box
After=network-online.target pppoe.service systemd-resolved.service
Requires=proxy-subscription-update.timer

[Install]
WantedBy=router.target

[Service]
Type=exec
Environment="AppDataDir=${AppDataDir}" "ROOT_DIR=${ROOT_DIR}"
ExecStart=/usr/bin/bash "${__dirname}/helpers/start.sh"
WorkingDirectory=/var/lib/proxy
RestartPreventExitStatus=66

RestartSec=10s
Restart=always

User=proxy
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=no
PrivateTmp=yes

LogsDirectory=proxy
StateDirectory=proxy

Slice=router.slice
