[Unit]
Description=Lightweight UPnP IGD daemon
Documentation=man:miniupnpd(8)
Requires=nftables@miniupnpd.service
After=nftables@miniupnpd.service

[Service]
Type=notify
WorkingDirectory=${__dirname}/scripts
ExecStart=/usr/bin/bash "execute.sh"
ExecStartPre=/usr/bin/touch /var/lib/miniupnpd/leases

RestartSec=30s
Restart=on-failure
RestartPreventExitStatus=233

ProtectSystem=full
DevicePolicy=closed
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectHome=yes

StateDirectory=miniupnpd
RuntimeDirectory=miniupnpd
PIDFile=/run/miniupnpd/miniupnpd.pid
