[Unit]
Description=run ddns every 1 min
After=pppoe.service systemd-resolved.service
Requires=pppoe.service

[Install]
WantedBy=router.target

[Timer]
OnUnitInactiveSec=1min
OnBootSec=30s
