[Unit]
Description=check ip change, and run ddns
After=pppoe.service systemd-resolved.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/bash "${__dirname}/run.sh"
EnvironmentFile=${AppDataDir}/ddns/config.sh

RestartPreventExitStatus=66
Restart=on-failure
RestartSec=30s

StateDirectory=ddns
RuntimeDirectory=ddns
Slice=router.slice
CPUWeight=90
