[Unit]
Description=force run ddns every 30 min even no IP changes (normaly run by ipchange)
After=pppoe.service systemd-resolved.service

[Install]
WantedBy=router.target

[Timer]
OnUnitInactiveSec=30min
OnBootSec=5min
