[Unit]
Description=run ddns every 5 min
After=pppoe.service systemd-resolved.service
Requires=pppoe.service

[Install]
WantedBy=router.target

[Timer]
OnUnitInactiveSec=5min
OnBootSec=30s
